.leaflet-container {
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: rgba(10, 230, 10, 0.275);
    padding: 20px;
    width: 100%;
    /* text-align: center; */
}

.form-container {
    display: flex;
    flex-direction: column;
    font-size: 50px;
}

.form-container input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 50px;
    min-width: 500px;
    font-size: 50px;
}
